html {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.5s, color 0.5s;
}
#mapContainer {
  width: 100%;
  height: 60vh;
}
#listContainer {
  margin-top: 20px;
}
.occurrence {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.controls {
  margin: 20px;
  background-color: inherit;
  padding: 10px;
  border-radius: 5px;
}
.controls input,
.controls button,
.controls select {
  margin-bottom: 10px;
}
.species-image {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 400px;
  display: block;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .species-image {
    max-width: 100%;
    max-height: auto;
  }
}
/* Light Theme */
body.light-theme {
  background-color: #f0f0f0;
  color: black;
}
/* Dark Theme */
body.dark-theme {
  background-color: #2e2e2e;
  color: white;
}
/* Green Theme */
body.green-theme {
  background-color: #e6ffe6;
  color: #003300;
}
/* Alternate Theme */
body.alt-theme {
  background-color: #e0004f;
  color: #036063;
}
body.alt-theme2 {
  background-color: #34344A;
  color: #ffffff;
}
/* Two columns for computers */
@media (min-width: 769px) {
  #listContainer {
    display: flex;
    flex-wrap: wrap;
  }
  .occurrence {
    flex: 1 1 calc(50% - 2%);
    margin: 1%;
  }
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #28a745;
    padding: 15px 20px;
    position: sticky;
    top: 0;
    width: 100%;
  }

  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
  }

  .navbar a:hover {
    color: #f0f0f0;
  }
/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .navbar {
        padding: 10px 12px; /* Adjust the left and right padding for mobile */
        font-size: 14.8px; /* Reduce font size by 20% on mobile (16px * 0.8 = 12.8px) */
    }
    
    .navbar a {
        font-size: 14.8px; /* Apply the 20% smaller font size to navbar links */
    }
}



